:root {
  font-family: 'Segoe UI';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --el-font-size-base: 17px;
  --el-menu-item-height-b: 60px;
  --el-menu-item-height: 56px;
 
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.name-company {
  color: #67c23a;
  font-size: 32px;
}

.info {
  font-size: 15px;
  color:#939393;
}

.header {
 
   
}

.inner {
  display: flex;
  
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 15px 10px;
  margin: 0 auto;
}

.icon {
  padding: 20px;
}

.icon-name-company {
  display: flex;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-company {
  font-size: 32px;
  font-weight: bold;
}

.search {
  padding: 40px;
}

.contacts-managers-mail {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.mail-call {
  display: flex;
  flex-direction: column;
}

.mail {
  color: #409f3b;
  text-decoration: underline;
}

.call {
  color: #fea712;
}

.call:hover {
  text-decoration: underline;
}

.horizontal-menu {
  font-weight: 600 !important;
  font-size: 19px !important;
}

.vertical-menu {
  margin-left: 40px;
}

.menu {

}

.menubar {
  align-items: center;
}

.el-menu-item {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.el-tooltip__trigger {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.catalog {
  
}

.name-category {
  display: flex;
  padding-left: 90px;
}

.catalog-menu {
  padding-top: 37px;
  background-color:#f4f4f4;
  width: 100%;
  display: flex;
}

.vertical-menu .el-sub-menu__title {
  word-break: break-word;
  line-height: 15px;
  white-space: normal !important;
  text-align: start;
  border-bottom: 1px solid #f4f4f4;
}

.el-menu--horizontal>.el-menu-item.is-active.el-menu-item:not(.is-disabled):hover  {
  border-bottom: 2px solid #fea712;
  outline: none !important;
}

.el-menu--horizontal {
  justify-content: center;
}

.el-menu-item {
  outline: none !important;
}

.el-menu {
  font-size: 15px;
  font-weight: normal !important;
}

.el-row {
  background-color:#f4f4f4;
  padding-top: 15px;
  flex-wrap: nowrap;
}

.temp {
  height: 80px;
  word-break: break-all;
}

.catalog-spares {
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
}

.card-spare-catalog {
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  display: flex; 
  width: 290px;
  height: 450px;
  max-width: calc(100% / 3);
}

.card-catalog {
  flex: 0 100%;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.spare-image-catalog {
  padding: 20px 10px;
}

.spare-info-catalog {
  word-break:keep-all
  
}

.card {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.card-spare {
  display: flex;
  width: 850px;
}

.spare-image {
  width: 200px;
  height: 150px;
}

.list-categories {
  display: flex;
  margin-left: 50px;
  list-style: none;
  flex-direction: column;
  width: 100%;
}

.category {
  list-style: none;
}

.spare-code {
  
}

.spare-image-cart {
  width: 65px;
  height: 48px;
}

.review {
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  width: 260px;
  
}

.review-container {
  background-color: #fff;
  height: 100%;
}

.review-name {
  padding: 19px 5px 25px 19px;
  border-bottom: 1px solid #f4f4f4;
  font-size: 24px;
}

.review-content {
  padding: 10px;
  background-color: #fff;
  word-break: break-word;
  line-height: 17px;
  text-align: start;
}

.reviews {
  background-color: #fff;
  margin-left: 40px;
}

.name-client {
  font-weight: 700;
  font-size: 1.1em;
  color: #333;
}

.admin-menu {
  display: flex;
}

.demo-tabs {
  margin: 0 auto;
}

.el-tabs__item {
  font-size: large !important;
  font-weight: 700 !important;
}

.contacts-managers {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contacts-select {
  padding: 10px;
}

.input-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-info-dialog {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.create-contact-manager {
  width: 100%;
}

.save-contact-manager {
  width: 50%;
}

.input-name,
.input-phone {
  margin: 15px;
}

.input-dialog {
  margin: 15px;
 }

.buttons-edit-delete-admin {
  display: flex;

}

.input-add-spare-admin {
  margin: 10px;
  width:60%;
}

.form-input {
  box-sizing: border-box;
  margin: 5px;
  width: 75%;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}